.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  min-width: 100%;
  height: auto;
}


.App-headerX {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td span {
  padding-right: 1rem;
}

.table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%!important;
  margin-top: 5%;
}

.table .thead-dark th {
  background-color: #4d7777!important;/*#3F4864 7583aa*/
  border-color: #4d7777!important;
}

.contentwrap h1 {
  margin-top:5%;
  margin-bottom:4%;
}

.contentwrap label {
  padding-right: 5%;
  margin-left: -10%;
  width:20%;
  text-align: right;
}

.contentwrap .btn {
  margin-top:2%;
}

.require {
  color:red;
}

.msgspace {
  color:red;
  display: block;
  margin-bottom:2%;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

label[for="deathdate"] {
  width:23%;
}

label[for="deathdate"]+div {
  width:21%;
}

label[for="deathdate"]+div+input {
  width:4%;
}

label[for="author"],
label[for="genre"]{
  margin-left: 20%;
}

label[for="author"]+.rbt,
label[for="genre"]+.rbt {
  width: 22%;
  float: right;
  margin-right: 34%!important;
}

.rbt-input-multi{
  height: auto;
}

#genres,
.css-2b097c-container {
  visibility: hidden;
}
